body {
	position: relative;
	font-family: Roboto, sans-serif;
	font-size: 17px;
	line-height: 1.2;
	min-width: 1040px;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.navbar{
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 20px rgba(0,0,0,.08);
	position: fixed;
	z-index: 20;
	top: 0;
	box-sizing: border-box;
	background-color: white;
	outline: 0;
}

.navbar .container{
	width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    outline: 0;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 250px;
  margin-bottom: 8px;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
}

.navbar-menu li {
  display: inline-block;
  position: relative;
}

.navbar-title {
  display: inline-block;
  color: black;
  opacity: 0.6;
  padding: 0 20px;
  transition: opacity 0.3s ease-in-out;
  margin-left: 30px;
}

.navbar-menu li:hover .tooltip-content {
  display: block;
}

.navbar-title:hover {
  opacity: 1;
}
  
.overlay {
	position: relative;
	height: 100%;
}
  
.navbar-brand{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	outline: 0;
}

.navbar-user{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	color: black;
}



.tooltip-content {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	display: none;
	position: absolute;
	background-color: #ffffff;
	padding: 10px;
	color: #000000;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для стиля */
	border-radius: 16px;
	width: 550px;
    height: auto;
	margin-top: 35px;
	margin-left: -64px;
	padding-top: 20px;
	padding-bottom: 30px;
  	box-sizing: border-box;
}

#guideTooltip.tooltip-content {
	width: 180px;
	margin-left: 18px;
	max-width: 250px; /* Сделаем максимальную ширину равной ширине экрана */
	box-sizing: border-box; /* чтобы padding не увеличивал размеры блока */
	text-align: center;
	align-items: center;
}
  
.tooltip-inner {
	text-align: left;
	display: flex;
	flex-direction: row;
}
  
.tooltip-ul{
	flex-direction: column; 
	display: flex;
}

.tooltip-ul li{
	margin-right: 30px;
	margin-top: 15px;
	
}

.tooltip-ul li a{
	text-decoration: none;
	color: #000000;
}




.main__wrapper{
	margin-top: 70px;
	box-sizing: border-box;
    outline: 0;
    height: 100%;
    width: 100%;
}

.index__wrapper{
	box-sizing: border-box;
    outline: 0;
	-webkit-tap-highlight-color: transparent;
    height: 100%;
    width: 100%;
}

.main-screen-index {
    background: #f0f0f0;
}

.main-screen-index__wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.main-screen-index__kaspi img {
	width: 100%;
    display: flex;
    align-items: center;
}

.services {
    margin-top: 100px;
    overflow: hidden;
    padding-bottom: 40px;
}

.services__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.services__main-title {
    margin-bottom: 36px;
	font-size: 50px;
    font-weight: 500;
    text-align: center;
	font-family: Roboto, sans-serif;
	color: rgb(0, 0, 0);
	font-weight: bold;
}


.footer, .footer-2__wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.footer__section {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer__left {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 88px;
}


.vertical-menu__title {
    font-size: 17px;
    font-weight: 700;
}

.vertical-menu__wrapper {
    padding: 0;
    margin: 20px 0 0;
}

.vertical-menu__wrapper ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.vertical-menu__item {
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(192, 192, 192);
}

.vertical-menu__item li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.vertical-menu__item a{
    text-decoration: none;
	color: #000000;
}

.footer__right {
    display: flex;
    width: 50%;
    padding-left: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-2 {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 30px 0 35px;
}

.footer, .footer-2__wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.footer-2__section {
    display: flex;
    justify-content: space-between;
}

.footer-2__left {
    max-width: 600px;
    font-size: 14px;
    color: #4A4A4A;
}

.footer-2__left-license {
    font-weight: 400;
    line-height: 21px;
}

.footer-2__left-license p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.social-media a{
    text-decoration: none;
}

.swiper-button-prev{

}

.swiper {
    width: 100%;
    height: 300px;
  }

.swiper-wrapper{
    display: flex;
    gap: 10px;
}

.swiper-slide{
    width: 180px;
    height: 300px;
    background-color: #d5d5d5;;
}