body{
	background-color: #f0f0f0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	text-align: center;
	align-items: center;
	align-content: center;
	font-family: Roboto, sans-serif;
}

div{
	display: flex;
	gap: 40px;
}


.body-pl{
	display: flex;
	gap: 40px;
	margin: 0;
}

img{
	margin-top: -10px;
	width: 100%;
}

button{
	margin-top: 35px;
	background-color: #0089d0;
	border: none;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 100px;
	transition: 0.3s;
}
button:hover{
	background-color: #00679d;
	color: #ffffff;
}

p{
	font-size: 50px;
	font-weight: bold;
}

h6 {
	font-size: 30px;
	margin: 10px 120px 1px;
}

h5{
	font-size: 50px;
	margin: 0; padding: 0;
}

.tab{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;
	cursor: pointer;
}

.tab div{
	font-size: 20px;
	padding: 10px 77px;
}

.active{
	color: #f24634;
	border-bottom: solid 2px #f24634;
}

.info{
	width: 1080px;
	padding: 0 50px;
	background-color: white;
	border-radius: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.info-vis{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.info-description{
	display: none;
}

.icon.rotate {
	transform: rotate(45deg);
}

.info p{
	padding: 15px 0;
	font-size: 20px;
	font-weight: normal;
}

.icon{
	transition: transform 0.2s ease-in-out;
	margin: 35px 0;
	rotate: 45deg;
}

footer {
	margin-top: 100px;
	font-size: 11px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgba(115, 115, 115, 255);
}

footer div{
	display: flex;
	gap: 15px;
}

footer p{
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}


.kaspi-gold{
	width: 100%;
	height: 300px;
	background-color: #ffffff;
}

.block {
	width: 40%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(243, 243, 243);
	box-sizing: border-box;
	display: flex;
	gap: 5px;
	flex-direction: column;
	flex-shrink: 0;
	font: inherit;
	text-align: left;
	margin: 0 0 0;
	padding: 20px 20px 20px 15px;
	height: 100vh;
	vertical-align: baseline;
	font-size: 50px;
	overflow: scroll;
}

.displaying {
	width: 60%;
	border: 1px solid rgb(243, 243, 243);
	border-radius: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-shrink: 0;
	gap: 5px;
	font: inherit;
	text-align: left;
	margin: 240px 0 ;
	padding: 30px 90px;
	position: absolute;
	top: 0; right: 0;
	vertical-align: baseline;
	font-size: 50px;
}

.displaying div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.my_search{
	display: flex;
	gap: 0;
	margin-bottom: 20px;
}

input{
	width: 100%;
	padding:  10px 10px 10px 5px;
	border: none;
	background-color: #f5f5f5;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 18px;

}

input::placeholder{
	font-size: 18px;
}

svg{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px 5px 10px 10px;
	background-color: #f5f5f5;
}

.home{
	text-decoration: none;
}



.home svg{
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	background-color: #f5f5f5;
}

.home svg:hover{
	background-color: #e1e1e1;
}

.elements{
	display: flex;
	flex-direction: column;
	gap: 10px;

}

.elements-div{
	cursor: pointer;
	width: 100%;
	background-color: #ffffff;
	border: solid 1px #e3e3e3;
	border-radius: 5px;
	gap: 1px;
	transition: 0.3s;
}

.elements-div:hover{
	background-color: #f5f5f5;
}


.elements svg{
	padding: 16px 10px 10px 10px;
	background: none;
}

.elements-div p{
	font-size: 18px;
	font-weight: normal;
}

.displaying img{
	width: 150px;
}


.smaller{
	justify-content: center;
	display: flex;
	align-items: center;
	align-content: center;
	padding-left: 90px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}

#first{
	margin-top: -125px;
}

#second {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
}

#second .second-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 698px;
	margin-top: -126px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
}

.platej-block{
	display: none;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
	margin-top: -116px;
}

.platej-block .main {
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	width: 677px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;

}
.platej-block svg{
	background: none;

}

.main .kaspian{
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 0;
}

.kaspian h1{
	font-weight: normal;
	font-size: 18px;
}

.platej-block input{
	width: 700px;
	background-color: white;
	padding: 20px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.platej-block p {
	font-size: 18px;
	font-weight: normal;
}


#second .second-div div{
	display: flex;
	gap: 4px;
	flex-direction: row;
}


#third {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
}


#third .second-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	width: 698px;
	margin-top: -126px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
}
#third .second-div div{
	display: flex;
	gap: 4px;
	flex-direction: row;
}

#kom{
	width: 678px;
	padding: 15px 10px;
	border-radius: 4px;
	font-size: 17px;
	text-align: left;
	justify-content: left;
	align-items: start;
	background-color: white;
	border: 1px solid #ccc;
}

#fourth {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: space-between;
}


#fourth .second-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	width: 698px;
	margin-top: -126px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
}
#fourth .second-div div{
	display: flex;
	gap: 4px;
	flex-direction: row;
}

.second-div svg {

	height: 24px;
	width: 24px;
	fill: #deaf65;
	background: none;
}

.second-div h1 {
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

.second-div input {
	width: 100px; /* Adjust the width as needed */
}

#userDetails{
	display: none;
	width: 673px;
	background-color: #deaf65;
	margin-top: 8px;
	border-radius: 4px;
	padding: 15px 13px;
	font-size: 20px;
	text-align: left;
	justify-content: left;
	align-items: start;
	color: white;
}

#userDetailsCard{
	display: none;
	width: 673px;
	background-color: #deaf65;
	margin-top: 8px;
	border-radius: 4px;
	padding: 15px 13px;
	font-size: 20px;
	text-align: left;
	justify-content: left;
	align-items: start;
	color: white;
}

.history-content{
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.history{
	background-color: white;
	border: 1px solid #e1e1e1;
	display: flex;
	border-radius: 5px;
	padding: 10px 10px;
	justify-content: space-between;

}

.history p{
	margin: 0; padding: 0;
	font-size: 20px;
	font-weight: normal;
}

#fifth .oppi{
	margin-top: -150px;
	background-color: white;
	width: 700px;
	border-radius: 5px;
	height: 600px;
}

.oppi img{
	width: 500px;
}

.displaying div{
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.displaying input{
	width: 678px;
	padding: 15px 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
}

.select-placeholder {
	width: 700px;
	padding: 15px 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
}

.select-placeholder:focus {
	outline: none;
	border-color: #f24634;
}

/* Style the placeholder text in the dropdown */
.select-placeholder option[disabled] {
	color: #aaa;
}

/* Style the dropdown arrow */
.select-placeholder::-ms-expand,
.select-placeholder::-ms-clear {
	display: none;
}

.select-placeholder::after {
	content: '\25BC';
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
	color: #555;
}

/* Style for the selected option */
.select-placeholder option:checked {
	background-color: #f24634;
	color: #fff;
}
